{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        
    <div id="listemessages">
        
<ul>
  
</ul>
    </div>
            <input type="text" name="user"><input type="text" name="post"><button type="button">Envoyer</button>
    </div>
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
